<header class="header">
  <!-- // *ngIf="user?.role != 'admin'" -->
  <nav class="navigation">
    <div class="navigation__container" *ngIf="!user || (user && user.role !== 'admin')">
      <!-- <p class="navigation__logo">Cats&Dogs</p> -->
      <a class="navigation__link" routerLinkActive="active-link" routerLink="/publication/list">Cats&Dogs</a>
    </div>

    <!-- Selector de idiomas [ES, EN] -->
    <form class="main__form" [formGroup]="languagesForm">
      <ul class="main__list">
        <li class="main__item">
          <label class="main__label" for="language">{{ "language" | translate }}</label>
          <select class="main__select" id="size" [formControl]="language" [value]="languagesForm.value.type" (ngModelChange)="onLanguage($event)">
            <option *ngFor="let language of languages" value="{{ language }}" [selected]="languagesForm.value.language === language">{{ language }}</option>
          </select>
          <!-- <select class="main__select" id="language" [formControl]="language" [value]="languagesForm.value.language">
            <option value="" disabled selected>Selecciona una provincia</option>
            <option *ngFor="let language of languages" value="{{ language }}" [selected]="languagesForm.value.language === language ? true : false">
              {{ language }}
            </option>
          </select> -->
        </li>
      </ul>
    </form>

    <!-- <div class="navigation__menu" id="menu">
      <i class="navigation__icon fas fa-bars"></i>
    </div> -->

    <ul class="navigation__list navigation__list--hidden" id="list">
      <li class="navigation__item" *ngIf="!user || (user && user.role !== 'admin')">
        <a class="navigation__link" routerLinkActive="active-link" routerLink="/publication/list">{{ "home" | translate }}</a>
      </li>
      <li class="navigation__item" *ngIf="user && user.role === 'professional'">
        <a class="navigation__link" routerLinkActive="active-link" routerLink="/publication/my-publications" (click)="resetMenuTabs()">{{ "my_publications" | translate }}</a>
      </li>
      <li class="navigation__item" *ngIf="user && user.role === 'client'">
        <a class="navigation__link" routerLinkActive="active-link" routerLink="/publication/favorites">{{ "my_favorites" | translate }}</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" routerLinkActive="active-link" routerLink="/contact">{{ "contact" | translate }}</a>
      </li>

      <li class="navigation__item" *ngIf="user && !user?.role">
        <a class="navigation__link" routerLinkActive="active-link" routerLink="/user/register-social">{{ "complete_registration" | translate }}</a>
      </li>

      <li class="navigation__item" *ngIf="user && user?.role">
        <a class="navigation__link" routerLinkActive="active-link" routerLink="/user/profile">{{ "profile" | translate }}</a>
      </li>

      <li class="navigation__item" *ngIf="user">
        <a class="navigation__link logout" (click)="onLogout()">{{ "logout" | translate }}</a>
      </li>
      <li class="navigation__item" *ngIf="!user">
        <a class="navigation__link" routerLinkActive="active-link" routerLink="/user/login">{{ "login" | translate }}</a>
      </li>
      <li class="navigation__item" *ngIf="!user">
        <a class="navigation__link" routerLinkActive="active-link" routerLink="/user/register">{{ "register" | translate }}</a>
      </li>
    </ul>
  </nav>
</header>
