.header__container {
  background: linear-gradient(
      0deg,
      rgba(134, 143, 150, 0.7) 0%,
      rgba(89, 97, 100, 0.7) 100%
    ),
    url("../../../../assets/images/index.jpg");

  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  background-attachment: fixed;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header__title {
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin: 0 1rem;
}

.header__subtitle {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  margin: 1rem;
}

.language__trigger-icon {
  position: absolute;
}

.language__trigger-text {
  margin-left: 33px;
  font-size: 1rem;
  font-weight: 500;
}

.mat-form-field {
  width: 75px !important;
  margin: 0 1rem;
}

.mat-select-arrow-wrapper {
  display: inline-block !important;
  vertical-align: none !important;
}

.mat-nav-list,
.mat-action-list {
  padding: 0 !important;
}

::ng-deep .mat-list-text {
  padding-left: 8px !important;
  padding-top: 3px !important;
}

::ng-deep .mat-line {
  font-weight: 500 !important;
}

button {
  border: 0px !important;
}

::ng-deep .language .mat-form-field-infix {
  border-top: 0 !important;
}

::ng-deep .language .mat-form-field-wrapper {
  padding: 0 !important;
}

::ng-deep .language .mat-form-field-underline {
  width: 0;
}

::ng-deep .nav__logo .mat-list-item-content {
  padding: 0 8px 0 0 !important;
}

.language--margin {
  margin-right: 8px !important;
}

.nav__toolbar {
  padding-left: 8px;
  padding-right: 0px;
}

::ng-deep .mat-select-panel .mat-optgroup-label,
::ng-deep .mat-select-panel .mat-option {
  font-size: 1rem !important;
}

.language__text {
  position: relative;
  bottom: -2px;
}
