<header>
  <nav>
    <mat-toolbar>
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" [ngClass.xs]="{ nav__toolbar: true }">
        <div fxLayout="row" fxLayoutAlign="center center">
          <button mat-icon-button (click)="snavStateOnChange.emit()" fxShow="true" fxHide.gt-sm="true">
            <mat-icon>menu</mat-icon>
          </button>

          <mat-nav-list fxLayout="row" fxShow="true" fxHide.gt-sm="{{ user?.role === 'admin' }}">
            <a mat-list-item routerLink="/home" [ngClass.lt-md]="{ nav__logo: true }">
              <!-- <mat-icon mat-list-icon svgIcon="logo" aria-hidden="false" aria-label="Logo icon"></mat-icon> -->
              <span mat-line class="logo">CATS&DOGS</span>
            </a>
          </mat-nav-list>

          <mat-form-field class="language" fxHide="true" fxShow.gt-sm="true">
            <mat-select [formControl]="language" [value]="languagesForm.value.type" (selectionChange)="onLanguage($event)">
              <mat-select-trigger class="language__trigger">
                <mat-icon class="language__trigger-icon" [svgIcon]="language.value" matSuffix></mat-icon>
                <span class="language__trigger-text">{{ language.value | uppercase }}</span>
              </mat-select-trigger>
              <mat-option *ngFor="let language of languages" [value]="language">
                <mat-icon [svgIcon]="language" matSuffix></mat-icon>
                <span class="language__text">{{ language | uppercase }}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-form-field class="language" [ngClass.lt-md]="{ 'language--margin': true }" fxShow="true" fxHide.gt-sm="true">
          <mat-select [formControl]="language" [value]="languagesForm.value.type" (selectionChange)="onLanguage($event)">
            <mat-select-trigger class="language__trigger">
              <mat-icon class="language__trigger-icon" [svgIcon]="language.value" matSuffix></mat-icon>
              <span class="language__trigger-text">{{ language.value | uppercase }}</span>
            </mat-select-trigger>
            <mat-option *ngFor="let language of languages" [value]="language">
              <mat-icon [svgIcon]="language" matSuffix></mat-icon>
              <span class="language__text">{{ language | uppercase }}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-nav-list fxLayout="row" fxHide="true" fxShow.gt-sm="true">
          <a mat-list-item routerLinkActive="active-link" routerLink="/home">
            <mat-icon mat-list-icon>home</mat-icon>
            <span mat-line>{{ "home" | translate | uppercase }}</span>
          </a>
          <a mat-list-item routerLinkActive="active-link" routerLink="/publications" (click)="resetMenuTabs()" *ngIf="user && user.role === 'professional'">
            <mat-icon mat-list-icon>list_alt</mat-icon>
            <span mat-line>{{ "my_publications" | translate | uppercase }}</span>
          </a>
          <a mat-list-item routerLinkActive="active-link" routerLink="/favorites" *ngIf="user && user.role === 'client'">
            <mat-icon mat-list-icon>favorites</mat-icon>
            <span mat-line>{{ "my_favorites" | translate | uppercase }}</span>
          </a>
          <a mat-list-item routerLinkActive="active-link" routerLink="/contact">
            <mat-icon mat-list-icon>contact_support</mat-icon>
            <span mat-line>{{ "contact" | translate | uppercase }}</span>
          </a>
          <a mat-list-item routerLinkActive="active-link" routerLink="/access/register-social" *ngIf="user && !user?.role">
            <mat-icon mat-list-icon>check_circle_outline</mat-icon>
            <span mat-line>{{ "complete_registration" | translate | uppercase }}</span>
          </a>

          <mat-action-list>
            <button mat-list-item [matMenuTriggerFor]="menu">
              <mat-icon mat-list-icon>person</mat-icon>
              <span *ngIf="!user" mat-line>{{ "log_in" | translate | uppercase }}</span>
              <span *ngIf="user" mat-line>{{ "my_account" | translate | uppercase }}</span>
            </button>
          </mat-action-list>
        </mat-nav-list>

        <mat-menu #menu="matMenu">
          <a *ngIf="user?.role" mat-menu-item routerLinkActive="active-link" routerLink="/user/profile">
            <mat-icon>account_circle</mat-icon>
            <span mat-line>{{ "profile" | translate | uppercase }}</span>
          </a>
          <a *ngIf="user" mat-menu-item class="navigation__link logout" (click)="onLogout()">
            <mat-icon>exit_to_app</mat-icon>
            <span mat-line>{{ "logout" | translate | uppercase }}</span>
          </a>
          <a *ngIf="!user" mat-menu-item routerLinkActive="active-link" routerLink="/access/login">
            <mat-icon>lock_open</mat-icon>
            <span mat-line>{{ "login" | translate | uppercase }}</span>
          </a>
          <a *ngIf="!user" mat-menu-item routerLinkActive="active-link" routerLink="/access/register">
            <mat-icon>person_add</mat-icon>
            <span mat-line>{{ "register" | translate | uppercase }}</span>
          </a>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
  </nav>

  <!-- Portada -->
  <div class="header__container" *ngIf="router.url.includes('/home')">
    <h1 class="header__title">{{ "header.title" | translate | uppercase }}</h1>
    <p class="header__subtitle">{{ "header.subtitle" | translate }}</p>
  </div>
</header>
<!-- <header class="header"> -->
<!-- <nav class="navigation">
    <a class="navigation_home" routerLink="/home">
      <img class="navigation__logo" src="./../../../../assets/images/logo.svg" alt="Logo" />
    </a>
    <mat-form-field>
      <mat-select [formControl]="language" [value]="languagesForm.value.type" (selectionChange)="onLanguage($event)">
        <mat-select-trigger class="language__trigger">
          <mat-icon [svgIcon]="language.value" matSuffix></mat-icon>
          <span>{{ language.value | uppercase }}</span>
        </mat-select-trigger>
        <mat-option *ngFor="let language of languages" [value]="language">
          <mat-icon [svgIcon]="language" matSuffix></mat-icon>
          <span>{{ language | uppercase }}</span>
        </mat-option>
      </mat-select>
    </mat-form-field> -->

<!-- <ul class="navigation__list navigation__list--hidden" id="list">
      <li class="navigation__item" *ngIf="!user || (user && user.role !== 'admin')">
        <a class="navigation__link" routerLinkActive="active-link" routerLink="/home">{{ "home" | translate }}</a>
      </li>
      <li class="navigation__item" *ngIf="user && user.role === 'professional'">
        <a class="navigation__link" routerLinkActive="active-link" routerLink="/publications" (click)="resetMenuTabs()">{{ "my_publications" | translate }}</a>
      </li>
      <li class="navigation__item" *ngIf="user && user.role === 'client'">
        <a class="navigation__link" routerLinkActive="active-link" routerLink="/favorites">{{ "my_favorites" | translate }}</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" routerLinkActive="active-link" routerLink="/contact">{{ "contact" | translate }}</a>
      </li>

      <li class="navigation__item" *ngIf="user && !user?.role">
        <a class="navigation__link" routerLinkActive="active-link" routerLink="/access/register-social">{{ "complete_registration" | translate }}</a>
      </li>

      <li class="navigation__item" *ngIf="user && user?.role">
        <a class="navigation__link" routerLinkActive="active-link" routerLink="/user/profile">{{ "profile" | translate }}</a>
      </li>

      <li class="navigation__item" *ngIf="user">
        <a class="navigation__link logout" (click)="onLogout()">{{ "logout" | translate }}</a>
      </li>
      <li class="navigation__item" *ngIf="!user">
        <a class="navigation__link" routerLinkActive="active-link" routerLink="/access/login">{{ "login" | translate }}</a>
      </li>
      <li class="navigation__item" *ngIf="!user">
        <a class="navigation__link" routerLinkActive="active-link" routerLink="/access/register">{{ "register" | translate }}</a>
      </li>
    </ul>
  </nav>
</header> -->
<!-- Selector de idiomas [ES, EN] -->
<!-- <form class="main__form" [formGroup]="languagesForm">
      <ul class="main__list">
        <li class="main__item">
          <label class="main__label" for="language">{{ "language" | translate }}</label>
          <select class="main__select" id="size" [formControl]="language" [value]="languagesForm.value.type" (ngModelChange)="onLanguage($event)">
            <option *ngFor="let language of languages" value="{{ language }}" [selected]="languagesForm.value.language === language">{{ language }}</option>
          </select>
        </li>
      </ul>
    </form> -->
<!-- <ul class="main__list">
        <li class="main__item">
          <label class="main__label" for="language">{{ "language" | translate }}</label>
          <select class="main__select" id="size" [formControl]="language" [value]="languagesForm.value.type" (ngModelChange)="onLanguage($event)">
            <option *ngFor="let language of languages" value="{{ language }}" [selected]="languagesForm.value.language === language">{{ language }}</option>
          </select>
        </li>
      </ul> -->

<!-- <div class="navigation__menu" id="menu">
      <i class="navigation__icon fas fa-bars"></i>
    </div> -->

<!-- <div class="navigation__container" *ngIf="!user || (user && user.role !== 'admin')"> -->
<!-- <p class="navigation__logo">Cats&Dogs</p> -->
<!-- <a class="navigation__link" routerLinkActive="active-link" routerLink="/home">Cats&Dogs</a> -->
