<header>
  <nav>
    <mat-toolbar>
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" [ngClass.xs]="{ nav__toolbar: true }">
        <div fxLayout="row" fxLayoutAlign="center center">
          <button mat-icon-button (click)="snavStateOnChange.emit()" fxShow="true" fxHide.gt-sm="true">
            <mat-icon>menu</mat-icon>
          </button>

          <mat-nav-list fxLayout="row" fxShow="true" fxHide.gt-sm="{{ user?.role === 'admin' }}">
            <a mat-list-item routerLink="/home" [ngClass.lt-md]="{ nav__logo: true }">
              <div mat-line class="logo">{{ "cats&dogs" | uppercase }}</div>
            </a>
          </mat-nav-list>

          <mat-form-field class="language" fxHide="true" fxShow.gt-sm="true">
            <mat-select [formControl]="language" [value]="languagesForm.value.type" (selectionChange)="onLanguage($event)">
              <mat-select-trigger class="language__trigger">
                <mat-icon class="language__trigger-icon" [svgIcon]="language.value" matSuffix></mat-icon>
                <span class="language__trigger-text">{{ language.value | uppercase }}</span>
              </mat-select-trigger>
              <mat-option *ngFor="let language of languages" [value]="language">
                <mat-icon [svgIcon]="language" matSuffix></mat-icon>
                <span class="language__text">{{ language | uppercase }}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-form-field class="language" [ngClass.lt-md]="{ 'language--margin': true }" fxShow="true" fxHide.gt-sm="true">
          <mat-select [formControl]="language" [value]="languagesForm.value.type" (selectionChange)="onLanguage($event)">
            <mat-select-trigger class="language__trigger">
              <mat-icon class="language__trigger-icon" [svgIcon]="language.value" matSuffix></mat-icon>
              <span class="language__trigger-text">{{ language.value | uppercase }}</span>
            </mat-select-trigger>
            <mat-option *ngFor="let language of languages" [value]="language">
              <mat-icon [svgIcon]="language" matSuffix></mat-icon>
              <span class="language__text">{{ language | uppercase }}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-nav-list fxLayout="row" fxHide="true" fxShow.gt-sm="true">
          <a mat-list-item routerLinkActive="active-link" routerLink="/home">
            <mat-icon mat-list-icon>home</mat-icon>
            <span mat-line>{{ "home" | translate | uppercase }}</span>
          </a>
          <a mat-list-item routerLinkActive="active-link" routerLink="/publications" (click)="resetMenuTabs()" *ngIf="user && user.role === 'professional'">
            <mat-icon mat-list-icon>list_alt</mat-icon>
            <span mat-line>{{ "my_publications" | translate | uppercase }}</span>
          </a>
          <a mat-list-item routerLinkActive="active-link" routerLink="/favorites" *ngIf="user && user.role === 'client'">
            <mat-icon mat-list-icon>favorites</mat-icon>
            <span mat-line>{{ "my_favorites" | translate | uppercase }}</span>
          </a>
          <a mat-list-item routerLinkActive="active-link" routerLink="/contact">
            <mat-icon mat-list-icon>contact_support</mat-icon>
            <span mat-line>{{ "contact" | translate | uppercase }}</span>
          </a>
          <a mat-list-item routerLinkActive="active-link" routerLink="/access/register-social" *ngIf="user && !user?.role">
            <mat-icon mat-list-icon>check_circle_outline</mat-icon>
            <span mat-line>{{ "complete_registration" | translate | uppercase }}</span>
          </a>

          <mat-action-list>
            <button mat-list-item [matMenuTriggerFor]="menu">
              <mat-icon mat-list-icon>person</mat-icon>
              <span *ngIf="!user" mat-line>{{ "log_in" | translate | uppercase }}</span>
              <span *ngIf="user" mat-line>{{ "my_account" | translate | uppercase }}</span>
            </button>
          </mat-action-list>
        </mat-nav-list>

        <mat-menu #menu="matMenu">
          <a *ngIf="user?.role" mat-menu-item routerLinkActive="active-link" routerLink="/user/profile">
            <mat-icon>account_circle</mat-icon>
            <span mat-line>{{ "profile" | translate | uppercase }}</span>
          </a>
          <a *ngIf="user" mat-menu-item class="navigation__link logout" (click)="onLogout()">
            <mat-icon>exit_to_app</mat-icon>
            <span mat-line>{{ "logout" | translate | uppercase }}</span>
          </a>
          <a *ngIf="!user" mat-menu-item routerLinkActive="active-link" routerLink="/access/login">
            <mat-icon>lock_open</mat-icon>
            <span mat-line>{{ "login" | translate | uppercase }}</span>
          </a>
          <a *ngIf="!user" mat-menu-item routerLinkActive="active-link" routerLink="/access/register">
            <mat-icon>person_add</mat-icon>
            <span mat-line>{{ "register" | translate | uppercase }}</span>
          </a>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
  </nav>

  <!-- Portada -->
  <div class="header__container" *ngIf="router.url === '/home'">
    <h1 class="header__title">{{ "header.title" | translate | uppercase }}</h1>
    <p class="header__subtitle">{{ "header.subtitle" | translate }}</p>
  </div>
</header>
