.container__btn-google {
  background-color: #ffffff;
}

.container__btn-facebook {
  background-color: #4267b2;
  color: #ffffff;
}

.container__social-icon {
  margin-right: 1rem;
  width: 20px;
  margin-bottom: 0.2rem;
}
