.card__image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.card {
  border: 2px solid;
  position: relative;
}

.card:hover {
  cursor: pointer;
}

.tag {
  display: block;
  background: #000000;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0.5rem 0;
  font-weight: bold;
  width: 200px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}
