.mat-card {
  margin: 1.5rem 0.8rem;
  transition: transform 0.1s;
  pointer-events: none;
  width: 230px;
  overflow: hidden;
  word-wrap: break-word;
}

.card__title,
.card__subtitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__title {
  line-height: 25px;
}

.card__subtitle {
  line-height: 16px;
}

.card__tag {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 12px;
  margin: 0.9rem 1rem;
  font-weight: bold;
  border-radius: 4px;
  padding: 0.2rem 0.7rem;
  border: 1px solid #d7dcdf;
  border-radius: 4px;
}

.adopted::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.3);
}

.mat-card-image {
  width: 230px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.mat-card-content {
  cursor: pointer;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 1rem 0;
  overflow: hidden;
  line-height: 21px;
  height: 40px;
}

.mat-card-content,
.mat-card-actions {
  pointer-events: auto;
}

.mat-card-actions .mat-button {
  padding: 0 !important;
  margin: 0 !important;
}

.mat-card-actions.card__favorite {
  margin-bottom: 0.5rem;
  padding: 0;
}

.card__anchor {
  text-decoration: none;
  color: inherit;
}
