// .tag {
//   display: block;
//   background: #000000;
//   color: #ffffff;
//   text-transform: uppercase;
//   padding: 0.5rem 0;
//   font-weight: bold;
//   width: 200px;
//   text-align: center;
//   position: absolute;
//   top: 0;
//   left: 0;
// }

.mat-card {
  margin: 2rem 1rem;
  transition: transform 0.1s;
  pointer-events: none;
  width: 230px;
  overflow: hidden;
}

.card__banner-state {
  position: absolute;
  top: -70%;
  left: 85%;
  transform: rotate(45deg);
  width: 100%;
  height: 100%;
  background: #2e2e2e;
  font-weight: bold;
  color: #ffffff;
  padding-bottom: 1rem;
}

.adopted::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.3);
}

.mat-card-image {
  width: 230px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.mat-card-content {
  cursor: pointer;
  text-overflow: ellipsis;
  // white-space: nowrap;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 1rem 0;
  overflow: hidden;
  line-height: 21px;
  height: 40px;
}

.mat-card-content,
.mat-card-actions {
  pointer-events: auto;
}

.mat-card-actions .mat-button {
  padding: 0 !important;
  margin: 0 !important;
}

.mat-card-actions.card__favorite {
  // margin: 0;
  margin-bottom: 0.5rem;
  padding: 0;
}
