// mat-nav-list.list {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
// }

// ::ng-deep .mat-list-item-content {
//   flex-direction: column !important;
// }

// mat-list-item.list__item {
//   font-size: 1.5rem;
// }

// mat-icon {
//   display: block;
//   width: 100%;
//   text-align: center;
// }

.list {
  min-width: 200px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

.list__title {
  font-weight: 500;
}

.mat-list-icon {
  font-size: 30px !important;
  width: 30px !important;
  height: 30px !important;
  margin-right: 1rem;
}
