<div *ngIf="option === 'contact'; else share">
  <p class="list__title">{{ "contact" | translate | uppercase }}</p>
  <mat-divider></mat-divider>
  <mat-nav-list class="list" (click)="onDismiss()">
    <a href="tel:{{ telephone }}" target="_blank" rel="noopener noreferrer">
      <mat-list-item>
        <mat-icon mat-list-icon>phone</mat-icon>
        <span mat-line>{{ "telephone" | translate }}</span>
      </mat-list-item>
    </a>

    <a href="sms:{{ telephone }}?body={{ encode('contact_message' | translate) }}" target="_blank" rel="noopener noreferrer">
      <mat-list-item>
        <mat-icon mat-list-icon>sms</mat-icon>
        <span mat-line>SMS</span>
      </mat-list-item>
    </a>

    <a href="https://wa.me/{{ telephone }}?text={{ encode('contact_message' | translate) }}" target="_blank" rel="noopener noreferrer">
      <mat-list-item>
        <mat-icon mat-list-icon svgIcon="whatsapp" aria-hidden="false" aria-label="Whatsapp icon"></mat-icon>
        <span mat-line>WhatsApp</span>
      </mat-list-item>
    </a>

    <a href="mailto:{{ author.email }}?body={{ encode('contact_message' | translate) }}" target="_blank" rel="noopener noreferrer">
      <mat-list-item>
        <mat-icon mat-list-icon>email</mat-icon>
        <span mat-line> {{ "email" | translate }}</span>
      </mat-list-item>
    </a>
  </mat-nav-list>
</div>

<ng-template #share>
  <p class="list__title">{{ "share" | translate | uppercase }}</p>
  <mat-divider></mat-divider>
  <mat-nav-list class="list" (click)="onDismiss()">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ shareLink }}" target="_blank" rel="noopener noreferrer">
      <mat-list-item>
        <mat-icon mat-list-icon svgIcon="facebook" aria-hidden="false" aria-label="Facebook icon"></mat-icon>
        <span mat-line>Facebook</span>
      </mat-list-item>
    </a>

    <a href="https://twitter.com/share?&url={{ shareLink }}&text={{ encode('share_link_message' | translate) }}" target="_blank" rel="noopener noreferrer">
      <mat-list-item>
        <mat-icon mat-list-icon svgIcon="twitter" aria-hidden="false" aria-label="Twitter icon"></mat-icon>
        <span mat-line>Twitter</span>
      </mat-list-item>
    </a>

    <a href="https://api.whatsapp.com/send?text={{ encode('share_link_message' | translate) }}{{ shareLink }}" target="_blank" rel="noopener noreferrer">
      <mat-list-item>
        <mat-icon mat-list-icon svgIcon="whatsapp" aria-hidden="false" aria-label="Whatsapp icon"></mat-icon>
        <span mat-line>WhatsApp</span>
      </mat-list-item>
    </a>

    <a href="mailto:?body={{ encode('share_link_message' | translate) }}{{ shareLink }}" target="_blank" rel="noopener noreferrer">
      <mat-list-item>
        <mat-icon mat-list-icon>email</mat-icon>
        <span mat-line>{{ "email" | translate }}</span>
      </mat-list-item>
    </a>

    <mat-list-item (click)="copyLinkToClipboard()">
      <mat-icon mat-list-icon svgIcon="copy" aria-hidden="false" aria-label="Copy link icon"></mat-icon>
      <span mat-line>{{ "copy_link" | translate }}</span>
    </mat-list-item>
  </mat-nav-list>
</ng-template>
