.images {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.image {
  width: 200px;
  height: 200px;
  margin: 0.5rem;
  object-fit: cover;
}

.container__carrousel {
  width: 100%;
  max-width: 500px;
}

::ng-deep .carousel > button.mat-icon-button:first-of-type {
  left: 20px !important;
}

::ng-deep .carousel > button.mat-icon-button:last-of-type {
  right: 20px !important;
}

::ng-deep
  .carousel
  > button:not(.mat-button-disabled).mat-icon-button:first-of-type,
::ng-deep
  .carousel
  > button:not(.mat-button-disabled).mat-icon-button:last-of-type {
  color: #ffffff !important;
}

::ng-deep .carousel-indicators > button.mat-button-disabled {
  background-color: #ffffff !important;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%) !important;
}

::ng-deep .carousel-indicators > button:not(.mat-button-disabled) {
  background-color: rgba(255, 255, 255, 0.4) !important;
  box-shadow: none !important;
}

.container__publication {
  padding-top: 1rem;
}

.container__section {
  max-width: 500px;
  word-wrap: break-word;
  width: 100%;
}

.container--maxwidth {
  max-width: 1100px;
  margin: 1rem auto;
}

.container__button-more {
  right: -0.8rem;
}

.container__aside-author {
  border: 1px solid #d7dcdf;
  border-radius: 4px;
  padding: 2rem;
}

.container__aside-author--padding {
  padding: 1rem;
}

.container__aside-nav {
  margin-bottom: 1rem;
}

.container__aside-nav .mat-icon.container__mat-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
}

.container__pet {
  border: 1px solid #d7dcdf;
  border-radius: 4px;
  padding: 1rem 0;
}

.container__publication-maxwidth {
  max-width: 500px;
}

.container__tag {
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  padding: 0.2rem 0.7rem;
  border: 1px solid #d7dcdf;
  border-radius: 4px;
}

.container__item-title {
  font-weight: 700;
}
