<section class="container__list-items">
  <ng-container *ngIf="(itemsLoaded | async) && true; else loading">
    <div
      class="container__list-publications"
      *ngIf="publications && publications.length !== 0; else noResults"
      fxLayout="row wrap"
      fxLayoutAlign="start start"
      fxLayoutAlign.lt-md="center start"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
    >
      <app-publication-item
        *ngFor="let publication of publications; trackBy: trackByFn; let index = index; let last = last"
        [ngClass]="{ last: last }"
        [publication]="publication"
        [currentUser]="user"
        (onChangePublication)="onChangePublication($event)"
      ></app-publication-item>
    </div>

    <div align="center" *ngIf="!finished && onLoadingNextItems">
      <app-loading [diameter]="30"></app-loading>
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="container__wait" fxLayout="row" fxLayoutAlign="center center">
      <app-loading [diameter]="40"></app-loading>
    </div>
  </ng-template>

  <ng-template #noResults>
    <app-no-results></app-no-results>
  </ng-template>
</section>
