<main>
  <div *ngIf="currentURL.includes('/publication/list')">
    <p>{{ "province" | translate }}</p>
    <select
      class="main__select"
      id="size"
      [formControl]="province"
      [value]="filterPublication.value.province"
      (ngModelChange)="onChangeFilter({ filter: 'province', value: $event })"
    >
      <option value="" selected>{{ "all" | translate }}</option>
      <option *ngFor="let province of provinces" value="{{ province }}" [selected]="filterPublication.value.province === province">{{ province }}</option>
    </select>
    <p>{{ "type" | translate }}</p>
    <select class="main__select" id="size" [formControl]="type" [value]="filterPublication.value.type" (ngModelChange)="onChangeFilter({ filter: 'type', value: $event })">
      <option value="" selected>{{ "all" | translate }}</option>
      <option *ngFor="let type of types" value="{{ type }}" [selected]="filterPublication.value.type === type">{{ type | translate }}</option>
    </select>
  </div>

  <div *ngIf="!currentURL.includes('/publication/list')">
    <div *ngIf="currentURL.includes('/publication/favorites')">
      <h1>{{ "your_favorites" | translate }}</h1>
      <p>{{ "favorites_description" | translate }}</p>
    </div>

    <div *ngIf="currentURL.includes('/publication/my-publications')">
      <h1>{{ "your_publications" | translate }}</h1>
      <p>{{ "publications_description" | translate }}</p>
      <button (click)="onCreatePublication()">{{ "to_post" | translate }}</button>
      <!-- <div>
        <input type="checkbox" (change)="onChange($event)" />
        <span>MI HISTORIAL</span>
      </div> -->
      <app-menu-tabs *ngIf="user" [defaultTab]="defaultTab" [tabs]="tabs" (newTabEvent)="onChange($event)"></app-menu-tabs>
    </div>
  </div>

  <div *ngIf="publications && publications.length !== 0; else noResults">
    <div *ngFor="let publication of publications; trackBy: trackByFn; let last = last" class="item" [ngClass]="{ last: last }">
      <app-publication-item [publication]="publication" [currentUser]="user" (onChangePublication)="onChangePublication($event)"></app-publication-item>
    </div>

    <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"></div>
    <app-loading *ngIf="!finished"></app-loading>
    <!-- <div *ngIf="finished">Eso son todos los datos de la BD</div> -->
  </div>

  <ng-template #noResults>
    <app-no-results></app-no-results>
  </ng-template>
</main>

<!-- <div *ngIf="publications && publications.length !== 0" class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"></div> -->
