<main>
  <div *ngIf="currentURL === '/publication/list'">
    <select class="main__select" id="size" [formControl]="province" [value]="filterPublication.value.province" (ngModelChange)="onChangeFilter({ filter: 'province', value: $event })">
      <option value="" selected>Todos</option>
      <option *ngFor="let province of provinces" value="{{ province }}" [selected]="filterPublication.value.province === province">{{ province }}</option>
    </select>

    <select class="main__select" id="size" [formControl]="type" [value]="filterPublication.value.type" (ngModelChange)="onChangeFilter({ filter: 'type', value: $event })">
      <option value="" selected>Todos</option>
      <option *ngFor="let type of types" value="{{ type }}" [selected]="filterPublication.value.type === type">{{ type }}</option>
    </select>
  </div>

  <div *ngIf="currentURL !== '/publication/list'">
    <div *ngIf="currentURL === '/publication/favorites'">
      <h1>Tus favoritos</h1>
      <p>Estas son las mascotas que más te gustan</p>
    </div>

    <div *ngIf="currentURL === '/publication/my-publications'">
      <h1>Tus publicaciones</h1>
      <p>Estas son todas las publicaciones que has subido a la plataforma</p>
      <div>
        <input type="checkbox" (change)="onChange($event)" />
        <span>MI HISTORIAL</span>
      </div>
    </div>
  </div>

  <div>
    <div *ngFor="let publication of publications; trackBy: trackByFn; let last = last" class="item" [ngClass]="{ last: last }">
      <p>{{ publication.id }}</p>
      <p>{{ publication.name }}</p>
      <p>{{ publication.type }}</p>
      <p>{{ publication.province }}</p>
    </div>

    <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"></div>

    <app-loading *ngIf="!finished"></app-loading>
    <div *ngIf="finished">Eso son todos los datos de la BD</div>
  </div>
</main>
