<!-- <p>sidenav works!</p> -->

<div class="container">
  <ul class="navigation__list navigation__list--hidden" id="list">
    <li class="navigation__item">
      <a class="navigation__link" routerLinkActive="active-link" routerLink="/admin/dashboard" (click)="resetMenuTabs()">General</a>
    </li>
    <li class="navigation__item">
      <a class="navigation__link" routerLinkActive="active-link" routerLink="/user/admin" (click)="resetMenuTabs()">Usuarios</a>
    </li>
    <li class="navigation__item">
      <a class="navigation__link" routerLinkActive="active-link" routerLink="/publication/admin" (click)="resetMenuTabs()">Publicaciones</a>
    </li>
    <li class="navigation__item">
      <a class="navigation__link" routerLinkActive="active-link" routerLink="/consult/admin" (click)="resetMenuTabs()">Consultas</a>
    </li>
  </ul>
</div>
