// .container {
//   padding: 2rem;
//   //   width: 100%;
//   position: fixed;
//   display: inline-block;
//   top: 0;
//   height: 100vh;
//   background-color: #ddd;
//   outline: 2px solid green;
// }

// .container {
//   padding: 2rem;
//   margin: 1rem;
//   background-color: indianred;
// }

.logo {
  color: #000;
  font-size: 20px !important;
  font-family: "Alfa Slab One", cursive;
}

.welcome {
  margin: 1rem 1rem 3rem 1.4rem;
}

.sidenav__name {
  font-size: 1.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 30px;
}

.mat-nav-list,
.mat-action-list {
  padding-top: 0 !important;
}

::ng-deep .menu .mat-menu-content:not(:empty) {
  width: 230px !important;
}
