.main__container-img {
  display: flex;
  //   justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main__fileImg {
  margin: 0 5px;
  width: 300px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
