<main class="container" *ngIf="publicationForm" fxLayout="column" fxLayoutAlign="center center">
  <h1 class="main__title" translate="{{ !publicationParam ? 'new_publication' : 'edit_publication' }}"></h1>
  <form class="container__form" [formGroup]="publicationForm" (ngSubmit)="onSubmit()">
    <ul class="container__list" fxLayout="row wrap" fxLayout.lt-sm="column">
      <li class="container__item" fxLayout="row" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.gt-xs="24px">
        <!-- Nombre -->
        <mat-form-field appearance="fill">
          <mat-label>{{ "name" | translate }} (*)</mat-label>
          <input matInput type="text" id="name" [formControl]="name" placeholder="{{ 'name' | translate }}" />
          <mat-error *ngIf="publicationForm.get('name').errors && (publicationForm.get('name').touched || publicationForm.get('name').dirty)">
            <span class="container__error" *ngIf="publicationForm.get('name').errors.required">{{ "errors.required" | translate }}</span>
          </mat-error>
        </mat-form-field>

        <!-- Tamaño -->
        <mat-form-field appearance="fill">
          <mat-label>{{ "size" | translate }} (*)</mat-label>
          <mat-select [formControl]="size">
            <mat-option [value]="null" [disabled]="true">{{ "select_a_option" | translate }}</mat-option>
            <mat-option *ngFor="let size of sizes" [value]="size">{{ size | translate }}</mat-option>
          </mat-select>
          <mat-error *ngIf="publicationForm.get('size').errors && (publicationForm.get('size').touched || publicationForm.get('size').dirty)">
            <span class="container__error" *ngIf="publicationForm.get('size').errors.required">{{ "errors.required" | translate }}</span>
          </mat-error>
        </mat-form-field>
      </li>

      <li class="container__item" fxLayout="row" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.gt-xs="24px">
        <!-- Tipo de mascota -->
        <mat-form-field appearance="fill">
          <mat-label>{{ "pet_type" | translate }} (*)</mat-label>
          <mat-select [formControl]="type">
            <mat-option [value]="null" [disabled]="true">{{ "select_a_option" | translate }}</mat-option>
            <mat-option *ngFor="let type of types" [value]="type">{{ type | translate }}</mat-option>
          </mat-select>
          <mat-error *ngIf="publicationForm.get('type').errors && (publicationForm.get('type').touched || publicationForm.get('type').dirty)">
            <span class="container__error" *ngIf="publicationForm.get('type').errors.required">{{ "errors.required" | translate }}</span>
          </mat-error>
        </mat-form-field>

        <!-- Sexo -->
        <mat-form-field appearance="fill">
          <mat-label>{{ "sex" | translate }} (*)</mat-label>
          <mat-select [formControl]="sex">
            <mat-option [value]="null" [disabled]="true">{{ "select_a_option" | translate }}</mat-option>
            <mat-option *ngFor="let sex of sexs" [value]="sex">{{ sex | translate }}</mat-option>
          </mat-select>
          <mat-error *ngIf="publicationForm.get('sex').errors && (publicationForm.get('sex').touched || publicationForm.get('sex').dirty)">
            <span class="container__error" *ngIf="publicationForm.get('sex').errors.required">{{ "errors.required" | translate }}</span>
          </mat-error>
        </mat-form-field>
      </li>

      <li class="container__item" fxLayout="row" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.gt-xs="24px">
        <!-- Province -->
        <mat-form-field appearance="fill">
          <mat-label>{{ "province" | translate }} (*)</mat-label>
          <mat-select [formControl]="province">
            <mat-option [value]="null" [disabled]="true">{{ "select_a_province" | translate }}</mat-option>
            <mat-option *ngFor="let province of provinces" [value]="province">{{ province }}</mat-option>
          </mat-select>
          <mat-error *ngIf="publicationForm.get('province').errors && (publicationForm.get('province').touched || publicationForm.get('province').dirty)">
            <span class="container__error" *ngIf="publicationForm.get('province').errors.required">{{ "errors.required" | translate }}</span>
          </mat-error>
        </mat-form-field>

        <!-- Vaccinate -->
        <mat-form-field appearance="fill">
          <mat-label>{{ "vaccinate" | translate }} (*)</mat-label>
          <mat-select [formControl]="vaccinate">
            <mat-option [value]="null" [disabled]="true">{{ "select_a_option" | translate }}</mat-option>
            <mat-option *ngFor="let vaccinate of vaccinates" [value]="vaccinate">{{ vaccinate | translate }}</mat-option>
          </mat-select>
          <mat-error *ngIf="publicationForm.get('vaccinate').errors && (publicationForm.get('vaccinate').touched || publicationForm.get('vaccinate').dirty)">
            <span class="container__error" *ngIf="publicationForm.get('vaccinate').errors.required">{{ "errors.required" | translate }}</span>
          </mat-error>
        </mat-form-field>
      </li>

      <li class="container__item" fxLayout="row" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.gt-xs="24px">
        <!-- Sterile -->
        <mat-form-field appearance="fill">
          <mat-label>{{ "sterile" | translate }} (*)</mat-label>
          <mat-select [formControl]="sterile">
            <mat-option [value]="null" [disabled]="true">{{ "select_a_option" | translate }}</mat-option>
            <mat-option *ngFor="let sterile of steriles" [value]="sterile">{{ sterile | translate }}</mat-option>
          </mat-select>
          <mat-error *ngIf="publicationForm.get('sterile').errors && (publicationForm.get('sterile').touched || publicationForm.get('sterile').dirty)">
            <span class="container__error" *ngIf="publicationForm.get('sterile').errors.required">{{ "errors.required" | translate }}</span>
          </mat-error>
        </mat-form-field>

        <!-- Breed -->
        <mat-form-field appearance="fill">
          <mat-label>{{ "breed" | translate }} (*)</mat-label>
          <input matInput type="text" id="breed" [formControl]="breed" placeholder="{{ 'breed' | translate }}" />
          <mat-error *ngIf="publicationForm.get('breed').errors && (publicationForm.get('breed').touched || publicationForm.get('breed').dirty)">
            <span class="container__error" *ngIf="publicationForm.get('breed').errors.required">{{ "errors.required" | translate }}</span>
          </mat-error>
        </mat-form-field>
      </li>

      <li class="container__item" fxLayout="row" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.gt-xs="24px">
        <!-- Dewormed -->
        <mat-form-field appearance="fill">
          <mat-label>{{ "dewormed" | translate }} (*)</mat-label>
          <mat-select [formControl]="dewormed">
            <mat-option [value]="null" [disabled]="true">{{ "select_a_option" | translate }}</mat-option>
            <mat-option *ngFor="let dewormed of dewormeds" [value]="dewormed">{{ dewormed | translate }}</mat-option>
          </mat-select>
          <mat-error *ngIf="publicationForm.get('dewormed').errors && (publicationForm.get('dewormed').touched || publicationForm.get('dewormed').dirty)">
            <span class="container__error" *ngIf="publicationForm.get('dewormed').errors.required">{{ "errors.required" | translate }}</span>
          </mat-error>
        </mat-form-field>

        <!-- Chip -->
        <mat-form-field appearance="fill">
          <mat-label>{{ "chip" | translate }} (*)</mat-label>
          <mat-select [formControl]="chip">
            <mat-option [value]="null" [disabled]="true">{{ "select_a_option" | translate }}</mat-option>
            <mat-option *ngFor="let chip of chips" [value]="chip">{{ chip | translate }}</mat-option>
          </mat-select>
          <mat-error *ngIf="publicationForm.get('chip').errors && (publicationForm.get('chip').touched || publicationForm.get('chip').dirty)">
            <span class="container__error" *ngIf="publicationForm.get('chip').errors.required">{{ "errors.required" | translate }}</span>
          </mat-error>
        </mat-form-field>
      </li>

      <li class="container__item" fxLayout="row" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.gt-xs="24px">
        <!-- Shipping -->
        <mat-form-field appearance="fill">
          <mat-label>{{ "shipping" | translate }} (*)</mat-label>
          <mat-select [formControl]="shipping">
            <mat-option [value]="null" [disabled]="true">{{ "select_a_option" | translate }}</mat-option>
            <mat-option *ngFor="let shipping of shippings" [value]="shipping">{{ shipping | translate }}</mat-option>
          </mat-select>
          <mat-error *ngIf="publicationForm.get('shipping').errors && (publicationForm.get('shipping').touched || publicationForm.get('shipping').dirty)">
            <span class="container__error" *ngIf="publicationForm.get('shipping').errors.required">{{ "errors.required" | translate }}</span>
          </mat-error>
        </mat-form-field>

        <!-- Age -->
        <mat-form-field appearance="fill">
          <mat-label>{{ "age" | translate }} (*)</mat-label>
          <mat-select [formControl]="age">
            <mat-option [value]="null" [disabled]="true">{{ "select_a_option" | translate }}</mat-option>
            <mat-option *ngFor="let age of ages" [value]="age">{{ age | translate }}</mat-option>
          </mat-select>
          <mat-error *ngIf="publicationForm.get('age').errors && (publicationForm.get('age').touched || publicationForm.get('age').dirty)">
            <span class="container__error" *ngIf="publicationForm.get('age').errors.required">{{ "errors.required" | translate }}</span>
          </mat-error>
        </mat-form-field>
      </li>

      <!-- Description -->
      <li class="container__item" fxFlexFill>
        <mat-form-field appearance="fill">
          <mat-label>{{ "description" | translate }} (*)</mat-label>
          <textarea class="container__textarea" matInput [formControl]="description" placeholder="{{ 'description' | translate }}" #textarea></textarea>
          <mat-error *ngIf="publicationForm.get('description').errors && (publicationForm.get('description').touched || publicationForm.get('description').dirty)">
            <span class="container__error" *ngIf="publicationForm.get('description').errors.required">{{ "errors.required" | translate }}</span>
            <span class="container__error" *ngIf="publicationForm.get('description').errors.minlength || publicationForm.get('description').errors.maxlength">{{
              "errors.length_50_600" | translate
            }}</span>
          </mat-error>
          <mat-hint align="end">{{ textarea.value?.length || 0 }}/600</mat-hint>
        </mat-form-field>
      </li>

      <!-- Image -->
      <li class="container__item" fxFlexFill>
        <mat-label>{{ "image" | translate }} (*)</mat-label>
        <input #fileInput [formControl]="image" hidden type="file" id="image" accept="image/*" (change)="changeImage($event)" multiple />

        <div class="container__media" fxLayout="row wrap" fxLayoutAlign="center center">
          <button class="container__media-button" type="button" mat-flat-button (click)="fileInput.click(); image.markAsDirty()" *ngIf="files.length === 0">Choose File</button>
          <ul class="container__media-list" *ngIf="files.length !== 0" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutAlign.lt-md="center center">
            <li class="container__media-item" *ngFor="let file of files" fxLayout="column">
              <img class="container__source" src="{{ file.url || file.src }}" alt="Preimagen" />
              <button fxFlexFill mat-flat-button color="warn" class="container__delete-button" type="button" (click)="deleteImage(file)">Eliminar</button>
            </li>
          </ul>
        </div>

        <mat-error class="container__similar-error" *ngIf="publicationForm.get('image').touched || publicationForm.get('image').dirty">
          <span *ngIf="files.length === 0">{{ "errors.required" | translate }}</span>
        </mat-error>
      </li>

      <!-- Sign in button -->
      <li class="container__item" align="end" fxFlexFill>
        <button class="container__button" mat-flat-button color="primary" type="submit" [disabled]="publicationForm.invalid || files.length === 0 || btnSubmitted">
          <app-loading *ngIf="btnSubmitted" class="container__loading" [diameter]="20" [display]="'inline'"></app-loading>
          <span>{{ "to_post" | translate }}</span>
        </button>
      </li>
    </ul>
  </form>
</main>
