<!-- <main class="main">
  <div class="main__container">
    <h1 class="main__title">{{ "reset_password" | translate }}</h1>
    <p>{{ "reset_description" | translate }}</p>
    <form class="main__form" [formGroup]="forgotForm" (ngSubmit)="onForgot()">
      <ul class="main__list">
        <li class="main__item">
          <label class="main__label" for="email">{{ "email" | translate }} (*)</label>
          <input class="main__input" type="email" id="email" [formControl]="email" placeholder="{{ 'email' | translate }}" />
          <div class="errors" *ngIf="forgotForm.get('email').errors && (forgotForm.get('email').touched || forgotForm.get('email').dirty)">
            <span class="errors__msg" *ngIf="forgotForm.get('email').errors.required">Este campo es obligatorio</span>
            <span class="errors__msg" *ngIf="!forgotForm.get('email').errors.required && (forgotForm.get('email').errors.email || forgotForm.get('email').errors.emailValidator)">
              El email no tiene un formato válido
            </span>
          </div>
        </li>
        <li class="main__item">
          <button #btnForm class="main__button" type="submit" [disabled]="forgotForm.invalid">{{ "reset" | translate }}</button>
        </li>
      </ul>
    </form>
  </div>
</main> -->

<main class="container" fxLayout="column" fxLayoutAlign="center center">
  <h1 class="main__title">{{ "reset_password" | translate }}</h1>
  <form class="container__form container__form--width-380" [formGroup]="forgotForm" (ngSubmit)="onForgot()">
    <p class="container__description">{{ "reset_description" | translate }}</p>
    <ul class="container__list">
      <!-- Email -->
      <li class="container__item container__item--margin">
        <mat-form-field appearance="fill">
          <mat-label>{{ "email" | translate }} (*)</mat-label>
          <input matInput type="email" id="email" [formControl]="email" placeholder="{{ 'email' | translate }}" />
          <mat-error *ngIf="forgotForm.get('email').errors && (forgotForm.get('email').touched || forgotForm.get('email').dirty)">
            <span *ngIf="forgotForm.get('email').errors?.required">Este campo es obligatorio</span>
            <span *ngIf="!forgotForm.get('email').errors?.required && (forgotForm.get('email').errors?.email || forgotForm.get('email').errors?.emailValidator)">
              El email no tiene un formato válido
            </span>
          </mat-error>
        </mat-form-field>
      </li>

      <!-- Sign in button -->
      <li class="container__item">
        <button mat-flat-button color="primary" type="submit" [disabled]="forgotForm.invalid || btnSubmitted">
          <app-loading *ngIf="btnSubmitted" class="container__loading" [diameter]="20" [display]="'inline'"></app-loading>
          <span>{{ "reset" | translate }}</span>
        </button>
      </li>
    </ul>
  </form>
</main>
