<main class="main">
  <div class="main__container">
    <h1 class="main__title">Restablecer contraseña</h1>
    <p>Introduce la dirección de correo de tu cuenta y te enviaremos un enlace para que restablezcas la contraseña</p>
    <form class="main__form" [formGroup]="forgotForm" (ngSubmit)="onForgot()">
      <ul class="main__list">
        <li class="main__item">
          <label class="main__label" for="email">Email (*)</label>
          <input class="main__input" type="email" id="email" [formControl]="email" placeholder="Email" />
          <div class="errors" *ngIf="forgotForm.get('email').errors && (forgotForm.get('email').touched || forgotForm.get('email').dirty)">
            <span class="errors__msg" *ngIf="forgotForm.get('email').errors.required">Este campo es obligatorio</span>
            <span class="errors__msg" *ngIf="!forgotForm.get('email').errors.required && (forgotForm.get('email').errors.email || forgotForm.get('email').errors.emailValidator)">
              El email no tiene un formato válido
            </span>
          </div>
        </li>
        <li class="main__item">
          <button class="main__button" type="submit" [disabled]="forgotForm.invalid">Restablecer</button>
        </li>
      </ul>
    </form>
  </div>
</main>
