<main class="container">
  <h1>{{ "users" | translate }}</h1>
  <p>{{ "users_admin" | translate }}</p>

  <app-menu-tabs [links]="links" (newLinkEvent)="loadUsers($event)"></app-menu-tabs>

  <div class="container__table-buttons" align="end">
    <button mat-button mat-icon-button (click)="onCreateUser()" matTooltip="{{ 'create_user' | translate }}">
      <mat-icon>person_add</mat-icon>
    </button>
    <button mat-button mat-icon-button (click)="showFilter = !showFilter" matTooltip="{{ 'search' | translate }}">
      <mat-icon>search</mat-icon>
      <span class="filterSelected" *ngIf="this.dataSource.filter"></span>
    </button>
  </div>

  <div class="filters" *ngIf="showFilter">
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>{{ "search" | translate }}</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar por el nombre, el email, el teléfono o la provincia" #input [value]="this.dataSource.filter" />
      <button *ngIf="this.dataSource.filter" matSuffix mat-icon-button aria-label="Clear" (click)="resetFilter()" matTooltip="{{ 'delete' | translate }}">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="container__table mat-elevation-z2" *ngIf="dataSource">
    <table class="container__table-data" mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "name" | translate }}</th>
        <td mat-cell *matCellDef="let user" (click)="onDetailsProfile(user.id)">{{ user.name | titlecase }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "email" | translate }}</th>
        <td mat-cell *matCellDef="let user" (click)="onDetailsProfile(user.id)">{{ user.email | capitalize }}</td>
      </ng-container>

      <ng-container matColumnDef="telephone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "telephone" | translate }}</th>
        <td mat-cell *matCellDef="let user" (click)="onDetailsProfile(user.id)">{{ user.telephone }}</td>
      </ng-container>

      <ng-container matColumnDef="province">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "province" | translate }}</th>
        <td mat-cell *matCellDef="let user" (click)="onDetailsProfile(user.id)">{{ user.province }}</td>
      </ng-container>

      <ng-container matColumnDef="star" stickyEnd>
        <th mat-header-cell *matHeaderCellDef class="star"></th>
        <td mat-cell *matCellDef="let user" class="star">
          <button mat-button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" matTooltip="{{ 'more_options' | translate }}">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onEditUser(user.id)">
              <mat-icon>edit</mat-icon>
              <span>{{ "edit" | translate }}</span>
            </button>
            <button mat-menu-item (click)="onDeleteUser(user)">
              <mat-icon>delete</mat-icon>
              <span>{{ "delete" | translate }}</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td *ngIf="itemsLoaded | async" class="mat-cell nodata" colspan="5">
          <app-no-results [small]="true"></app-no-results>
        </td>
      </tr>
    </table>
  </div>
  <mat-paginator class="mat-elevation-z2" [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
</main>
