<main class="main">
  <div class="main__container">
    <h1 class="main__title">{{ "register" | translate }}</h1>
    <p>{{ "register_description" | translate }}</p>
    <form class="main__form" [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <ul class="main__list">
        <li class="main__item">
          <label class="main__label" for="cp">{{ "postal_code" | translate }} (*)</label>
          <input class="main__input" type="text" name="cp" [formControl]="cp" placeholder="{{ 'postal_code' | translate }}" />
          <div class="errors" *ngIf="registerForm.get('cp').errors && (registerForm.get('cp').touched || registerForm.get('cp').dirty)">
            <span class="errors__msg" *ngIf="registerForm.get('cp').errors.required">Este campo es obligatorio</span>
            <span class="errors__msg" *ngIf="registerForm.get('cp').errors.pattern">Este campo sólo puede contener números</span>
            <span class="errors__msg" *ngIf="registerForm.get('cp').errors.maxlength || registerForm.get('cp').errors.minlength">Este campo debe contener 5 dígitos</span>
          </div>
        </li>

        <li class="main__item">
          <label class="main__label" for="street">{{ "street" | translate }} (*)</label>
          <input class="main__input" type="text" name="street" [formControl]="street" placeholder="{{ 'street' | translate }}" />
          <div class="errors" *ngIf="registerForm.get('street').errors && (registerForm.get('street').touched || registerForm.get('street').dirty)">
            <span class="errors__msg" *ngIf="registerForm.get('street').errors.required">Este campo es obligatorio</span>
          </div>
        </li>

        <li class="main__item">
          <label class="main__label" for="code">{{ "code" | translate }} (*)</label>
          <select class="main__select" id="code" [formControl]="code" [value]="registerForm.value.code">
            <option value="" disabled selected>{{ "select_a_code" | translate }}</option>
            <option *ngFor="let code of codes" value="{{ code }}" [selected]="registerForm.value.code === code ? true : false">
              {{ code }}
            </option>
          </select>
          <div class="errors" *ngIf="registerForm.get('code').errors && (registerForm.get('code').touched || registerForm.get('code').dirty)">
            <span class="errors__msg" *ngIf="registerForm.get('code').errors.required">Este campo es obligatorio</span>
          </div>
        </li>

        <li class="main__item">
          <label class="main__label" for="telephone">{{ "telephone" | translate }} (*)</label>
          <input class="main__input" type="telephone" name="telephone" [formControl]="telephone" placeholder="{{ 'telephone' | translate }}" />
          <div class="errors" *ngIf="registerForm.get('telephone').errors && (registerForm.get('telephone').touched || registerForm.get('telephone').dirty)">
            <span class="errors__msg" *ngIf="registerForm.get('telephone').errors.required">Este campo es obligatorio</span>
            <span class="errors__msg" *ngIf="registerForm.get('telephone').errors.pattern">Este campo sólo puede contener dígitos</span>
            <span class="errors__msg" *ngIf="registerForm.get('telephone').errors.maxlength || registerForm.get('telephone').errors.minlength"
              >Este campo debe tener 9 dígitos</span
            >
          </div>
        </li>

        <!-- <li class="main__item">
              <label class="main__label" for="role">Tipo de usuario (*)</label>
              <select class="main__select" id="role" [formControl]="role" [value]="registerForm.value.role">
                <option value="" disabled selected>Selecciona el tipo</option>
                <option *ngFor="let role of roles" value="{{ role.key }}" [selected]="registerForm.value.role === role.key">{{ role.value }}</option>
              </select>
              <div class="errors" *ngIf="registerForm.get('role').errors && (registerForm.get('role').touched || registerForm.get('role').dirty)">
                <span class="errors__msg" *ngIf="registerForm.get('role').errors.required">Este campo es obligatorio</span>
              </div>
            </li> -->

        <li class="main__item">
          <label class="main__label" for="role">{{ "account_type" | translate }} (*)</label>
          <select class="main__select" id="role" [formControl]="role" [value]="registerForm.value.role">
            <option value="" disabled selected>{{ "select_a_role" | translate }}</option>
            <option *ngFor="let role of roles" value="{{ role }}" [selected]="registerForm.value.role === role">{{ role | translate }}</option>
          </select>
          <div class="errors" *ngIf="registerForm.get('role').errors && (registerForm.get('role').touched || registerForm.get('role').dirty)">
            <span class="errors__msg" *ngIf="registerForm.get('role').errors.required">Este campo es obligatorio</span>
          </div>
        </li>

        <li class="main__item">
          <label class="main__label" for="province">{{ "province" | translate }}(*)</label>
          <select class="main__select" id="province" [formControl]="province" [value]="registerForm.value.province">
            <option value="" disabled selected>{{ "select_a_province" | translate }}</option>
            <option *ngFor="let province of provinces" value="{{ province }}" [selected]="registerForm.value.province === province ? true : false">{{ province }}</option>
          </select>
          <div class="errors" *ngIf="registerForm.get('province').errors && (registerForm.get('province').touched || registerForm.get('province').dirty)">
            <span class="errors__msg" *ngIf="registerForm.get('province').errors.required">Este campo es obligatorio</span>
          </div>
        </li>

        <li class="main__item main__item--fb-100">
          <button #btnForm class="main__button" type="submit" [disabled]="registerForm.invalid">{{ "register" | translate }}</button>
        </li>
      </ul>
    </form>
  </div>
</main>
