<!-- <p>user-form works!</p> -->
<main class="main" *ngIf="user">
  <div class="main__container">
    <h1 class="main__title" *ngIf="!id">{{ "profile" | translate }}</h1>
    <h1 class="main__title" *ngIf="id">{{ "edit_user" | translate }}</h1>
    <form class="main__form" [formGroup]="editForm" (ngSubmit)="onEdit()">
      <ul class="main__list">
        <li class="main__item">
          <label class="main__label" for="name">{{ "name" | translate }} (*)</label>
          <input class="main__input" type="text" id="name" [formControl]="name" placeholder="{{ 'name' | translate }}" />
          <div class="errors" *ngIf="editForm.get('name').errors && (editForm.get('name').touched || editForm.get('name').dirty)">
            <span class="errors__msg" *ngIf="editForm.get('name').errors.required">Este campo es obligatorio</span>
            <span class="errors__msg" *ngIf="editForm.get('name').errors.minlength">Este campo debe tener mínimo 3 caracteres</span>
            <span class="errors__meg" *ngIf="editForm.get('name').errors.maxlength">Este campo no debe tener más de 55 caracteres</span>
            <span class="errors__msg" *ngIf="editForm.get('name').errors.pattern">Este campo no debe tener espacios ni caracteres especiales</span>
          </div>
        </li>

        <li class="main__item">
          <label class="main__label" for="email">{{ "email" | translate }} (*)</label>
          <input class="main__input" type="email" id="email" [formControl]="email" placeholder="{{ 'email' | translate }}" />
        </li>

        <li class="main__item">
          <label class="main__label" for="role">{{ "account_type" | translate }} (*)</label>
          <input class="main__input" type="role" id="role" [formControl]="role" placeholder="{{ 'account_type' | translate }}" />
        </li>

        <li class="main__item">
          <label class="main__label" for="code">{{ "code" | translate }} (*)</label>
          <select class="main__select" id="code" [formControl]="code" [value]="editForm.value.code">
            <option value="" disabled selected>{{ "select_a_code" | translate }}</option>
            <option *ngFor="let code of codes" value="{{ code }}" [selected]="editForm.value.code === code ? true : false">
              {{ code }}
            </option>
          </select>
          <div class="errors" *ngIf="editForm.get('code').errors && (editForm.get('code').touched || editForm.get('code').dirty)">
            <span class="errors__msg" *ngIf="editForm.get('code').errors.required">Este campo es obligatorio</span>
          </div>
        </li>

        <li class="main__item">
          <label class="main__label" for="telephone">{{ "telephone" | translate }} (*)</label>
          <input class="main__input" type="text" id="telephone" [formControl]="telephone" placeholder="{{ 'telephone' | translate }}" />
          <div class="errors" *ngIf="editForm.get('telephone').errors && (editForm.get('telephone').touched || editForm.get('telephone').dirty)">
            <span class="errors__msg" *ngIf="editForm.get('telephone').errors.required">Este campo es obligatorio</span>
            <span class="errors__msg" *ngIf="editForm.get('telephone').errors.pattern">Este campo sólo puede contener dígitos</span>
            <span class="errors__msg" *ngIf="editForm.get('telephone').errors.maxlength || editForm.get('telephone').errors.minlength">Este campo debe tener 9 dígitos</span>
          </div>
        </li>

        <li class="main__item">
          <label class="main__label" for="province">{{ "province" | translate }} (*)</label>
          <select class="main__select" id="province" [formControl]="province" [value]="editForm.value.province">
            <option value="" disabled selected>{{ "select_a_province" | translate }}</option>
            <option *ngFor="let province of provinces" value="{{ province }}" [selected]="editForm.value.province === province ? true : false">
              {{ province }}
            </option>
          </select>
          <div class="errors" *ngIf="editForm.get('province').errors && (editForm.get('province').touched || editForm.get('province').dirty)">
            <span class="errors__msg" *ngIf="editForm.get('province').errors.required">Este campo es obligatorio</span>
          </div>
        </li>

        <li class="main__item">
          <label class="main__label" for="cp">{{ "postal_code" | translate }} (*)</label>
          <input class="main__input" type="text" id="cp" [formControl]="cp" placeholder="{{ 'postal_code' | translate }}" />
          <div class="errors" *ngIf="editForm.get('cp').errors && (editForm.get('cp').touched || editForm.get('cp').dirty)">
            <span class="errors__msg" *ngIf="editForm.get('cp').errors.required">Este campo es obligatorio</span>
            <span class="errors__msg" *ngIf="editForm.get('cp').errors.pattern">Este campo sólo puede contener números</span>
            <span class="errors__msg" *ngIf="editForm.get('cp').errors.maxlength || editForm.get('cp').errors.minlength">Este campo debe tener 5 dígitos</span>
          </div>
        </li>

        <li class="main__item">
          <label class="main__label" for="street">{{ "street" | translate }} (*)</label>
          <input class="main__input" type="text" id="street" [formControl]="street" placeholder="{{ 'street' | translate }}" />
          <div class="errors" *ngIf="editForm.get('street').errors && (editForm.get('street').touched || editForm.get('street').dirty)">
            <span class="errors__msg" *ngIf="editForm.get('street').errors.required">Este campo es obligatorio</span>
          </div>
        </li>

        <li class="main__item main__item--fb-100">
          <button #btnForm type="submit" class="main__button" [disabled]="editForm.invalid">{{ "save" | translate }}</button>
        </li>
      </ul>
    </form>
  </div>
</main>
