<mat-sidenav-container class="example-container" [hasBackdrop]="false" *ngIf="loadInformation" fullscreen>
  <mat-sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" #snav [opened]="user?.role === 'admin' && !mobileQuery.matches">
    <app-sidenav [user]="user" [mobileQuery]="mobileQuery" (snavStateOnChange)="snav.close()"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column">
    <app-header [user]="user" (snavStateOnChange)="snav.toggle()" class="header"></app-header>
    <router-outlet></router-outlet>
    <app-footer fxFlexOffset="auto"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <div [ngClass]="{ admin: user?.role === 'admin' }" *ngIf="loadInfomation">
  <app-sidenav class="sidenav" *ngIf="user?.role === 'admin'" [user]="user"></app-sidenav>
  <div [ngClass]="{ content: user?.role === 'admin' }">
    <app-header [user]="user"></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div> -->

<!-- <div [ngClass]="{ app: user?.role === 'admin' }" *ngIf="loadInfomation">
  <div [ngClass]="{ content: user?.role === 'admin' }">
    <app-header *ngIf="user?.role !== 'admin'" [user]="user"></app-header>
    <router-outlet></router-outlet>
    <app-footer *ngIf="user?.role !== 'admin'"></app-footer>
  </div>
</div> -->
