<!-- <p>publication-admin works!</p>
<p>No hay filtros, lo máximo si acaso (por nombre de propietario mediante buscador)</p> -->
<h1>{{ "publications" | translate }}</h1>
<p>{{ "publications_admin" | translate }}</p>

<app-menu-tabs [defaultTab]="defaultTab" [tabs]="tabs" (newTabEvent)="loadPublications($event)"></app-menu-tabs>

<button (click)="onCreatePublication()">Crear publicación</button>
<button (click)="showFilter = !showFilter">Filtros</button>

<div *ngIf="showFilter">Componente Filtros!</div>
<!-- Pendiente -->

<app-share-buttons [shareLinkRelative]="'publication/available/details/-Msjdhsjdsjdh'"></app-share-buttons>

<table>
  <tr>
    <th>Autor</th>
    <th>Fecha</th>
    <th>Tipo</th>
    <th>Provincia</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let publication of publications">
    <td (click)="onDetailsPublication(publication)">{{ publication.nameAutor }}</td>
    <td (click)="onDetailsPublication(publication)">{{ publication.date | date: "medium" }}</td>
    <td (click)="onDetailsPublication(publication)">{{ publication.type }}</td>
    <td (click)="onDetailsPublication(publication)">{{ publication.province }}</td>

    <td *ngIf="publication.state !== 'available'"><button (click)="onDeletePublication(publication)">Eliminar</button></td>

    <td *ngIf="publication.state === 'available'" (click)="onDeletePublication(publication)">Eliminar</td>
    <td *ngIf="publication.state === 'available'" (click)="onSharePublication()">Compartir</td>
    <td *ngIf="publication.state === 'available'" (click)="onEditPublication(publication.id)">Editar</td>
    <td *ngIf="publication.state === 'available'" (click)="onMarkToAdopted(publication)">Marcar como adoptado</td>
  </tr>
</table>
