<p>publication-admin works!</p>

<h1>Panel de administración de publicaciones</h1>
<p>Tabla donde apareceran los campos mas relevantes de las publicaciones</p>
<p>Paginación del total de las publicaciones!</p>

<p>
  Por cada next o prev se debe comprobar si los registros no han cambiado desde el primer momento que se inicio el componente [1,2,3,4] === [1,2,3,4]. Si no es así, se le debe mandar un mensaje de que
  se va a resetear la tabla para estar al tanto de las últimas modificaciones!
</p>

<p>No hay filtros, lo máximo si acaso (por nombre de propietario mediante buscador)</p>
