<!-- <p>publication-admin works!</p> -->
<h1>{{ "publications" | translate }}</h1>
<p>{{ "publications_admin" | translate }}</p>

<app-menu-tabs [defaultTab]="defaultTab" [tabs]="tabs" (newTabEvent)="loadPublications($event)"></app-menu-tabs>

<button (click)="onCreatePublication()">Publicar</button>

<button (click)="showFilter = !showFilter">Filtros <span class="filterSelected" *ngIf="filterPublication.value.province || filterPublication.value.type"></span></button>

<div *ngIf="showFilter">
  <select [formControl]="province" [value]="filterPublication.value.province" (ngModelChange)="onChangeFilter({ filter: 'province', value: $event })">
    <option value="" selected>Todos</option>
    <option *ngFor="let province of provinces" value="{{ province }}" [selected]="filterPublication.value.province === province">{{ province }}</option>
  </select>

  <select [formControl]="type" [value]="filterPublication.value.type" (ngModelChange)="onChangeFilter({ filter: 'type', value: $event })">
    <option value="" selected>Todos</option>
    <option *ngFor="let type of types" value="{{ type }}" [selected]="filterPublication.value.type === type">{{ type }}</option>
  </select>
</div>

<table>
  <tr>
    <th>Autor</th>
    <th>Fecha</th>
    <th>Tipo</th>
    <th>Provincia</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let publication of publications">
    <td (click)="onDetailsPublication(publication)">{{ publication.nameAutor }}</td>
    <td (click)="onDetailsPublication(publication)">{{ publication.date | date: "medium" }}</td>
    <td (click)="onDetailsPublication(publication)">{{ publication.type }}</td>
    <td (click)="onDetailsPublication(publication)">{{ publication.province }}</td>

    <td *ngIf="publication.state !== 'available'"><button (click)="onDeletePublication(publication)">Eliminar</button></td>

    <td *ngIf="publication.state === 'available'" (click)="onDeletePublication(publication)">Eliminar</td>
    <td *ngIf="publication.state === 'available'" (click)="onSharePublication()">Compartir</td>
    <td *ngIf="publication.state === 'available'" (click)="onEditPublication(publication.id)">Editar</td>
    <td *ngIf="publication.state === 'available'" (click)="onMarkToAdopted(publication)">Marcar como adoptado</td>
  </tr>
</table>
