<main class="container container--max" *ngIf="user">
  <h1 class="container__title" translate="{{ isCurrentUser ? 'profile' : 'user_data' }}" align="center"></h1>
  <section class="container__profile" fxLayout="row" fxLayoutAlign="center stretch" fxLayout.lt-lg="column" fxLayoutGap.lt-lg="10px" fxLayoutGap="100px">
    <div fxLayout="column" fxLayoutAlign="start center">
      <div class="container__profile-image">
        <mat-icon class="container__profile-media">account_circle</mat-icon>
      </div>

      <mat-list role="list" fxLayout="row" fxLayoutAlign="space-between start">
        <mat-list-item role="listitem" *ngIf="isClientUser" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon mat-list-icon matTooltip="{{ 'number_of_publications_saved' | translate }}">favorite_border</mat-icon>
          <span>{{ user.myFavorites | count }}</span>
        </mat-list-item>
        <mat-list-item role="listitem" *ngIf="!isClientUser" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon mat-list-icon matTooltip="{{ 'number_of_publications_uploaded' | translate }}">playlist_add</mat-icon>
          <span>{{ user.myPublications | count: user.myHistory }}</span>
        </mat-list-item>
        <mat-list-item role="listitem" *ngIf="!isClientUser" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon mat-list-icon matTooltip="{{ 'number_of_publications_adopted' | translate }}">playlist_add_check</mat-icon>
          <span>{{ user.myHistory | count }}</span>
        </mat-list-item>
      </mat-list>

      <p>{{ "joined_on" | translate }} {{ user.added_date | amLocale: translateService.currentLang | amDateFormat: "LL" }}</p>
      <button class="container__container-button" mat-flat-button color="accent" *ngIf="!isCurrentUser" (click)="onContactUser()">{{ "to_contact" | translate }}</button>
      <button class="container__container-button" mat-flat-button color="primary" *ngIf="isCurrentUser || isAdminUser" (click)="onEditUser()">{{ "change" | translate }}</button>
    </div>

    <ul class="container__list container__list--padding" fxFlex="1 1 auto" fxLayout="column" fxLayoutGap.lt-sm="16px">
      <li class="container__item" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="24px">
        <div fxFlex="50%" fxFlexFill>
          <p class="container__item-title">{{ "name" | translate }}</p>
          <p class="container__item-content">{{ user.name | titlecase }}</p>
        </div>
        <div fxFlex="50%" fxFlexFill>
          <p class="container__item-title">{{ "email" | translate }}</p>
          <p class="container__item-content">{{ user.email | capitalize }}</p>
        </div>
      </li>

      <li class="container__item" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="24px">
        <div fxFlex="50%" fxFlexFill>
          <p class="container__item-title">{{ "code" | translate }}</p>
          <p class="container__item-content">{{ user.code }}</p>
        </div>
        <div fxFlex="50%" fxFlexFill>
          <p class="container__item-title">{{ "telephone" | translate }}</p>
          <p class="container__item-content">{{ user.telephone }}</p>
        </div>
      </li>

      <li class="container__item" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="24px">
        <div fxFlex="50%" fxFlexFill>
          <p class="container__item-title">{{ "account_type" | translate }}</p>
          <p class="container__item-content">{{ user.role | translate }}</p>
        </div>

        <div fxFlex="50%" fxFlexFill>
          <p class="container__item-title">{{ "province" | translate }}</p>
          <p class="container__item-content">{{ user.province | translate }}</p>
        </div>
      </li>

      <li class="container__item" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="24px">
        <div fxFlex="50%" fxFlexFill>
          <p class="container__item-title">{{ "postal_code" | translate }}</p>
          <p class="container__item-content">{{ user.cp }}</p>
        </div>
        <div fxFlex="50%" fxFlexFill>
          <p class="container__item-title">{{ "street" | translate }}</p>
          <p class="container__item-content">{{ user.street | titlecase }}</p>
        </div>
      </li>
    </ul>
  </section>
</main>
