<div *ngIf="user">
  <h1 *ngIf="isCurrentUser">{{ "profile" | translate }}</h1>
  <div>
    <!-- Icon user -->
    <!-- <img src="#" alt="Profile's image" /> -->
    <!-- place icon -->
    <p>{{ user.cp }}, {{ user.province }}</p>
    <p>{{ user.street }}</p>

    <!-- calendar icon -->
    <p>Se unió el {{ user.added_date | amLocale: translateService.currentLang | amDateFormat: "LL" }}</p>
    <button *ngIf="!isCurrentUser" (click)="onContactUser()">Contactar</button>
  </div>

  <ul>
    <button *ngIf="isCurrentUser || isAdminUser" (click)="onEditUser()">Cambiar</button>
    <li>
      <div>
        <h5>Nombre</h5>
        <p>{{ user.name }}</p>
      </div>
    </li>
    <li>
      <div>
        <h5>Correo electrónico</h5>
        <p>{{ user.email }}</p>
      </div>
    </li>
    <li>
      <div>
        <h5>Teléfono</h5>
        <p>{{ user.telephone }}</p>
      </div>
    </li>
    <li>
      <div>
        <h5>Role</h5>
        <p>{{ user.role }}</p>
      </div>
    </li>
    <li *ngIf="!isClientUser">
      <div>
        <h5>Número de mascotas que ha subido a la plataforma</h5>
        <p>{{ user.myPublications | count: user.myHistory }}</p>
      </div>
    </li>
    <li *ngIf="!isClientUser">
      <div>
        <h5>Número de mascotas que ha subido y han sido adoptadas</h5>
        <p>{{ user.myHistory | count }}</p>
      </div>
    </li>
    <li *ngIf="isClientUser">
      <div>
        <h5>Número de publicaciones guardados en favoritos</h5>
        <p>{{ user.myPublications | count }}</p>
      </div>
    </li>
  </ul>
</div>
