<!-- <p>consult-details works!</p> -->

<button (click)="onPreviousPage()">{{ "back" | translate }}</button>

<div *ngIf="consult">
  <button (click)="onDeleteConsult(consult.id)">{{ "delete" | translate }}</button>
  <button *ngIf="consult.state !== 'answered' && !showForm" (click)="showForm = !showForm">{{ "reply" | translate }}</button>

  <!-- <p>{{ consult.id }}</p> -->
  <p>{{ consult.name }}</p>
  <p>{{ consult.email }}</p>
  <p>{{ consult.subject }}</p>
  <p>{{ consult.message }}</p>
  <p>{{ consult.creation_date | date: "medium" }}</p>

  <form class="main__form" [formGroup]="replyForm" (ngSubmit)="onReplyConsult()" *ngIf="showForm">
    <ul class="main__list">
      <li class="main__item">
        <!-- <label class="main__label" for="reply">reply (*)</label> -->
        <textarea class="main__input" type="reply" id="reply" [formControl]="reply" placeholder="{{ 'response' | translate }}"></textarea>
        <div class="errors" *ngIf="replyForm.get('reply').errors && (replyForm.get('reply').touched || replyForm.get('reply').dirty)">
          <span class="errors__msg" *ngIf="replyForm.get('reply').errors.required">Este campo es obligatorio</span>
        </div>
      </li>
      <li class="main__item">
        <button #btnForm class="main__button" type="submit" [disabled]="replyForm.invalid || consult.state === 'answered'">{{ "send" | translate }}</button>
      </li>
    </ul>
  </form>
</div>
