<!-- <p>consult-details works!</p> -->
<main class="container" [ngClass.gt-md]="{ 'container--center-auto': true }" *ngIf="consult">
  <button (click)="onPreviousPage()">{{ "back" | translate }}</button>
  <button (click)="onDeleteConsult(consult.id)">{{ "delete" | translate }}</button>
  <!-- <button *ngIf="consult.state !== 'answered' && !showForm" (click)="showForm = !showForm">{{ "reply" | translate }}</button> -->

  <!-- <p>{{ consult.id }}</p> -->
  <p>{{ consult.name | titlecase }}</p>
  <p>{{ consult.creation_date | date: "medium" }}</p>
  <p>{{ consult.email | capitalize }}</p>
  <p>{{ consult.subject | capitalize }}</p>
  <p>{{ consult.message | capitalize }}</p>

  <form class="container__form" [formGroup]="replyForm" (ngSubmit)="onReplyConsult()">
    <ul class="container__list" fxLayout="column">
      <li class="container__item" fxFlexFill>
        <mat-form-field appearance="fill">
          <mat-label>{{ "response" | translate }} (*)</mat-label>
          <textarea class="container__textarea" matInput type="text" id="message" [formControl]="message" placeholder="{{ 'response' | translate }}"></textarea>
          <mat-error *ngIf="replyForm.get('message').errors && (replyForm.get('message').touched || replyForm.get('message').dirty)">
            <span *ngIf="replyForm.get('message').errors.required">Este campo es obligatorio</span>
          </mat-error>
        </mat-form-field>
      </li>

      <li class="container__item" fxFlexFill>
        <mat-form-field appearance="fill">
          <mat-label>{{ "no_reply_message" | translate }} (*)</mat-label>
          <textarea class="container__textarea" matInput type="text" id="message" [formControl]="noReplyMessage"></textarea>
        </mat-form-field>
      </li>

      <li class="container__item" fxFlexFill align="end">
        <button class="container__button" mat-flat-button color="primary" type="submit" [disabled]="replyForm.invalid || consult.state === 'answered' || btnSubmitted">
          <app-loading *ngIf="btnSubmitted" class="container__loading" [diameter]="20" [display]="'inline'"></app-loading>
          <span>{{ "send" | translate }}</span>
        </button>
      </li>
    </ul>

    <!-- <label class="main__label" for="reply">reply (*)</label> -->
    <!-- <textarea class="main__input" type="message" id="message" [formControl]="message" placeholder="{{ 'response' | translate }}"></textarea>
      <div class="errors" *ngIf="replyForm.get('message').errors && (replyForm.get('message').touched || replyForm.get('message').dirty)">
        <span class="errors__msg" *ngIf="replyForm.get('message').errors.required">Este campo es obligatorio</span>
      </div> -->
  </form>
</main>
