<!-- <nav>
  <ul>
    <button (click)="tab$.next('client')">Clientes</button>
    <button (click)="tab$.next('professional')">Profesionales</button>
  </ul>
</nav> -->

<app-menu-tabs [defaultTab]="defaultTab" [tabs]="tabs" (newTabEvent)="loadUsers($event)"></app-menu-tabs>
<input type="text" placeholder="Nombre" (ngModelChange)="onSearchName($event)" [ngModel]="name" />
<button (click)="onCreateUser()">Crear usuario</button>
<table *ngIf="users && users.length !== 0; else noFound">
  <tr>
    <th>Nombre</th>
    <th>Email</th>
    <th>Teléfono</th>
    <th>Provincia</th>
    <!-- <th *ngIf="tab === 'client'">Favoritos</th>
    <th *ngIf="tab === 'professional'">Publicaciones</th> -->
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let user of users">
    <td (click)="onViewProfile(user.id)">{{ user.name }}</td>
    <td (click)="onViewProfile(user.id)">{{ user.email }}</td>
    <td (click)="onViewProfile(user.id)">{{ user.telephone }}</td>
    <td (click)="onViewProfile(user.id)">{{ user.province }}</td>
    <!-- <td *ngIf="user.role === 'client'">{{ user.myFavorites }}</td>
    <td *ngIf="user.role === 'professional'">{{ user.myPublications }}</td> -->
    <td>
      <button (click)="onEditUser(user.id)">Editar</button>
      <button (click)="onDeleteUser(user)">Eliminar</button>
    </td>
  </tr>
</table>

<!-- Componente crearlo -->
<ng-template #noFound>
  <div>No se han encontrado resultados</div>
</ng-template>
