<!-- <main class="main">
  <div class="main__container">
    <h1 class="main__title">{{ "contact_us" | translate }}</h1>
    <p>{{ "contact_description" | translate }}</p>
    <form class="main__form" [formGroup]="contactForm" (ngSubmit)="onContact()">
      <ul class="main__list">
        <li class="main__item">
          <label class="main__label" for="name">{{ "name" | translate }} (*)</label>
          <input class="main__input" id="name" type="name" id="name" [formControl]="name" placeholder="{{ 'name' | translate }}" />
          <div class="errors" *ngIf="contactForm.get('name').errors && (contactForm.get('name').touched || contactForm.get('name').dirty)">
            <span class="errors__msg" *ngIf="contactForm.get('name').errors.required">Este campo es obligatorio</span>
            <span class="errors__msg" *ngIf="contactForm.get('name').errors.minlength || contactForm.get('name').errors.maxlength">Minímo 3 caracteres y máximo 55 caracteres</span>
            <span class="errors__msg" *ngIf="!contactForm.get('name').errors.required && contactForm.get('name').errors.name">Existen errores</span>
          </div>
        </li>
        <li class="main__item">
          <label class="main__label" for="email">{{ "email" | translate }} (*)</label>
          <input class="main__input" id="email" type="email" id="email" [formControl]="email" placeholder="{{ 'email' | translate }}" />
          <div class="errors" *ngIf="contactForm.get('email').errors && (contactForm.get('email').touched || contactForm.get('email').dirty)">
            <span class="errors__msg" *ngIf="contactForm.get('email').errors.required">Este campo es obligatorio</span>
            <span
              class="errors__msg"
              *ngIf="!contactForm.get('email').errors.required && (contactForm.get('email').errors.email || contactForm.get('email').errors.emailValidator)"
            >
              El email no tiene un formato válido
            </span>
          </div>
        </li>
        <li class="main__item">
          <label class="main__label" for="subject">{{ "subject" | translate }} (*)</label>
          <input class="main__input" id="subject" type="subject" id="subject" [formControl]="subject" placeholder="{{ 'subject' | translate }}" />
          <div class="errors" *ngIf="contactForm.get('subject').errors && (contactForm.get('subject').touched || contactForm.get('subject').dirty)">
            <span class="errors__msg" *ngIf="contactForm.get('subject').errors.required">Este campo es obligatorio</span>
            <span class="errors__msg" *ngIf="contactForm.get('subject').errors.maxlength">Máximo 50 caracteres</span>
            <span class="errors__msg" *ngIf="!contactForm.get('subject').errors.required && contactForm.get('subject').errors.subject"> Existen errores </span>
          </div>
        </li>
        <li class="main__item">
          <label class="main__label" for="message">{{ "message" | translate }} (*)</label>
          <textarea class="main__input" id="message" type="message" id="message" [formControl]="message" placeholder="{{ 'message' | translate }}"></textarea>
          <div class="errors" *ngIf="contactForm.get('message').errors && (contactForm.get('message').touched || contactForm.get('message').dirty)">
            <span class="errors__msg" *ngIf="contactForm.get('message').errors.required">Este campo es obligatorio</span>
            <span class="errors__msg" *ngIf="contactForm.get('message').errors.maxlength">Máximo 500 caracteres</span>
            <span class="errors__msg" *ngIf="!contactForm.get('message').errors.required && contactForm.get('message').errors.message"> Existen errores </span>
          </div>
        </li>
        BLOQUE DE Recaptcha!!!
        <li class="main__item">
          <button #btnForm class="main__button" type="submit" [disabled]="contactForm.invalid">{{ "send" | translate }}</button>
        </li>
      </ul>
    </form>
  </div>
</main> -->

<main class="container" fxLayout="column" fxLayoutAlign="center center">
  <h1 class="container__title">{{ "contact_us" | translate }}</h1>
  <p class="container__description">
    {{ "contact_description" | translate }}
  </p>
  <form class="container__form" [formGroup]="contactForm" (ngSubmit)="onContact()">
    <ul class="container__list" fxLayout="row wrap" fxLayout.lt-sm="column">
      <li class="container__item" fxLayout="row" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="16px">
        <!-- Name -->
        <mat-form-field appearance="fill">
          <mat-label>{{ "name" | translate }} (*)</mat-label>
          <input matInput type="text" id="name" [formControl]="name" placeholder="{{ 'name' | translate }}" />
          <mat-error *ngIf="contactForm.get('name').errors && (contactForm.get('name').touched || contactForm.get('name').dirty)">
            <span class="container__error" *ngIf="contactForm.get('name').errors.required">{{ "errors.required" | translate }}</span>
            <span class="container__error" *ngIf="contactForm.get('name').errors.minlength || contactForm.get('name').errors.maxlength">{{
              "errors.length_3_55" | translate
            }}</span>
            <span class="container__error" *ngIf="!contactForm.get('name').errors.required && contactForm.get('name').errors.pattern">{{ "errors.pattern_name" | translate }}</span>
          </mat-error>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field appearance="fill">
          <mat-label>{{ "email" | translate }} (*)</mat-label>
          <input matInput type="email" id="email" [formControl]="email" placeholder="{{ 'email' | translate }}" />
          <mat-error *ngIf="contactForm.get('email').errors && (contactForm.get('email').touched || contactForm.get('email').dirty)">
            <span class="container__error" *ngIf="contactForm.get('email').errors.required">{{ "errors.required" | translate }}</span>
            <span
              class="container__error"
              *ngIf="!contactForm.get('email').errors.required && (contactForm.get('email').errors.email || contactForm.get('email').errors.emailValidator)"
            >
              {{ "errors.email" | translate }}
            </span>
          </mat-error>
        </mat-form-field>
      </li>

      <!-- Subject -->
      <li class="container__item" fxFlexFill>
        <mat-form-field appearance="fill">
          <mat-label>{{ "subject" | translate }} (*)</mat-label>
          <input matInput type="text" id="subject" [formControl]="subject" placeholder="{{ 'subject' | translate }}" />
          <mat-error *ngIf="contactForm.get('subject').errors && (contactForm.get('subject').touched || contactForm.get('subject').dirty)">
            <span class="container__error" *ngIf="contactForm.get('subject').errors.required">{{ "errors.required" | translate }}</span>
            <span class="container__error" *ngIf="contactForm.get('subject').errors.maxlength">{{ "errors.maxlength_50" | translate }}</span>
          </mat-error>
        </mat-form-field>
      </li>

      <!-- Textarea -->
      <li class="container__item" fxFlexFill>
        <mat-form-field appearance="fill">
          <mat-label>{{ "message" | translate }} (*)</mat-label>
          <textarea
            class="container__textarea"
            matInput
            id="message"
            type="text"
            id="message"
            [formControl]="message"
            placeholder="{{ 'message' | translate }}"
            #textarea
          ></textarea>
          <mat-error *ngIf="contactForm.get('message').errors && (contactForm.get('message').touched || contactForm.get('message').dirty)">
            <span class="container__error" *ngIf="contactForm.get('message').errors.required">{{ "errors.required" | translate }}</span>
            <span class="container__error" *ngIf="contactForm.get('message').errors.minlength || contactForm.get('message').errors.maxlength">{{
              "errors.length_50_500" | translate
            }}</span>
          </mat-error>
          <mat-hint align="end">{{ textarea.value?.length || 0 }}/500</mat-hint>
        </mat-form-field>
      </li>

      <!-- Sign in button -->
      <li class="container__item" align="end" fxFlexFill>
        <button class="container__button" mat-flat-button color="primary" type="submit" [disabled]="contactForm.invalid || btnSubmitted">
          <app-loading *ngIf="btnSubmitted" class="container__loading" [diameter]="20" [display]="'inline'"></app-loading>
          <span>{{ "send" | translate }}</span>
        </button>
      </li>
    </ul>
  </form>
</main>
