<!-- <p>share-buttons works!</p> -->
<!-- bottom sheet -->
<div>
  <ul>
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ shareLink }}" target="_blank" rel="noopener noreferrer"> Facebook </a>
    </li>
    <li>
      <a href="https://twitter.com/share?&url={{ shareLink }}&text={{ encode('share_link_message' | translate) }}" target="_blank" rel="noopener noreferrer"> Twitter </a>
    </li>
    <li>
      <a href="https://wa.me/send?text={{ encode('share_link_message' | translate) }}{{ shareLink }}" target="_blank" rel="noopener noreferrer"> Whatsapp </a>
    </li>
    <li>
      <a href="mailto:?body={{ encode('share_link_message' | translate) }}{{ shareLink }}" target="_blank" rel="noopener noreferrer"> Email </a>
    </li>
    <!-- <li>
      <a href="https://t.me/share/url?url={{ shareLink }}&text={{ encode('share_link_message' | translate) }}" target="_blank" rel="noopener noreferrer">Telegram</a>
    </li> -->
    <!-- <li>
      <a href="fb-messenger://share/?link={{ shareLink }}" target="_blank" rel="noopener noreferrer">Messenger</a>
      <a href="https://facebook.com/share/?link={{ shareLink }}&app_id=123456789">Messenger</a>
    </li> -->
    <li>
      <button (click)="copyLinkToClipboard()">Copy link</button>
    </li>
  </ul>
</div>
