<main class="main">
  <div class="main__container">
    <h1 class="main__title">{{ "login" | translate }}</h1>
    <form class="main__form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <ul class="main__list">
        <li class="main__item">
          <label class="main__label" for="email">{{ "email" | translate }} (*)</label>
          <input class="main__input" type="email" id="email" [formControl]="email" placeholder="{{ 'email' | translate }}" />
          <div class="errors" *ngIf="loginForm.get('email').errors && (loginForm.get('email').touched || loginForm.get('email').dirty)">
            <span class="errors__msg" *ngIf="loginForm.get('email').errors.required">Este campo es obligatorio</span>
            <span class="errors__msg" *ngIf="!loginForm.get('email').errors.required && (loginForm.get('email').errors.email || loginForm.get('email').errors.emailValidator)">
              El email no tiene un formato válido
            </span>
          </div>
        </li>
        <li class="main__item">
          <label class="main__label" for="password">{{ "password" | translate }} (*)</label>
          <input class="main__input" type="password" id="password" [formControl]="password" placeholder="{{ 'password' | translate }}" />
          <div class="errors" *ngIf="loginForm.get('password').errors && (loginForm.get('password').touched || loginForm.get('password').dirty)">
            <span class="errors__msg" *ngIf="loginForm.get('password').errors.required">Este campo es obligatorio</span>
          </div>
        </li>
        <li class="main__item">
          <button #btnForm class="main__button" type="submit" [disabled]="loginForm.invalid">{{ "login" | translate }}</button>
        </li>
        <li class="main__item">
          <a class="main__forgot" href="" routerLink="/user/forgot-password">{{ "forgot_password" | translate }}</a>
        </li>
        <li class="main__item">
          <button class="main__btnGoogle" type="submit" (click)="onLoginProvider('google.com')">
            <mat-icon svgIcon="google" aria-hidden="false" aria-label="Google icon"></mat-icon>
            {{ "login_google" | translate }}
          </button>
        </li>
        <li class="main__item">
          <button class="main__btnFacebook" type="submit" (click)="onLoginProvider('facebook.com')">
            <mat-icon svgIcon="facebook" aria-hidden="false" aria-label="Facebook icon"></mat-icon>
            {{ "login_facebook" | translate }}
          </button>
        </li>
      </ul>
    </form>
  </div>
</main>
